{% if items %}
<ul>
    {% for item in items %}
    <li>
        <h3><a href="{% url 'item' item.id %}">{{ item.title }}</a></h3>
        <p>{{ item.description }}</p>
        {% if item.done %}
            Done: {{ item.done }}
        {% else %}
            <form action="{% url 'item' item.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="action" value="markdone">
                <input type="submit" value="Mark Done">
            </form>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No items are available.</p>
{% endif %}